/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;

  padding: 2rem;

  color: #777;
}

.header {
  height: 95vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("/img/hero.jpg");
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;
}

.logo-box {
  position: absolute;

  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: #fff;

  text-transform: uppercase;
}

.heading-primary-main {
  display: block;

  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 2rem;
}
.heading-primary-sub {
  display: block;

  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1rem;
}
