@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

//  Media query manager

/*
0 - 600px     : Phone
600 - 900px   : Tablet potrait
900 - 1200px  : Tablet landscape
1200 - 1800px : Normal Styles
1800px ++      : Big Desktop
*/

/*
$breakppoint argument choice
- phone
- tablet-potrait
- tablet-landscape
- big-desktop

*/

// ORDER: Base + Typography > general Layout + grid > page layout > Components

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint == tablet-potrait {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  }

  @if $breakpoint == tablet-landscape {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
