@use "../abstracts/variables";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  position: relative;
  height: 50rem;

  &__side {
    font-size: 24px;
    color: white;
    height: 50rem;
    transition: all 1s ease;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.25);
    backface-visibility: hidden;

    &--front {
      background-color: variables.$color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          variables.$color-secondary-light,
          variables.$color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
