@use "../abstracts/variables";
@use "../abstracts/mixins";

.composition {
  position: relative;

  &__photo {
    box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.4);

    width: 55%;
    position: absolute;
    z-index: 10;

    transition: all 0.3s;
    outline-offset: 1rem;

    @include mixins.respond(tablet-potrait) {
      float: left;
      position: relative;
      width: 33.33333%;

      box-shadow: 0 1.5rem 3rem rgba(variables.$color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;
      @include mixins.respond(tablet-potrait) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include mixins.respond(tablet-potrait) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;
      @include mixins.respond(tablet-potrait) {
        top: 0;
        left: 0;
        transform: scale(1.2);
      }
    }

    &:hover {
      outline: 1.5rem solid variables.$color-primary;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(variables.$color-black, 0.5);

      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
    filter: blur(1px);
  }
}
