@use "../abstracts/variables";

.feature-box {
  background-color: rgba(variables.$color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.2);

  transition: transform 0.4s;
  &__icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 1rem;

    background-image: linear-gradient(
      to right,
      variables.$color-primary-light,
      variables.$color-primary-dark
    );

    background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-10px) scale(1.03);
  }
}
