@use "../abstracts/variables";
@use "../abstracts/mixins";

.popup {
  background-color: rgba(variables.$color-black, 0.9);

  border-top: 1px solid white;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;

  &__content {
    @include mixins.centering;
    background-color: variables.$color-white;
    box-shadow: 0 2rem 4rem rgba(variables.$color-black, 0.8);

    border-radius: 4px;
    width: 70%;
    transform: translate(-50%, -50%) scale(0.2);
    display: table;

    overflow: hidden;
    opacity: 0;

    transition: all 0.4s 0.4s;

    @include mixins.respond(tablet-potrait) {
      // display: inline;
    }
  }

  &__left {
    width: 33.333%;
    display: table-cell;

    @include mixins.respond(tablet-potrait) {
      width: 100%;
      display: flex;
    }
  }
  &__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include mixins.respond(tablet-potrait) {
      display: block;
      width: 100%;
    }
  }
  &__img {
    display: block;
    width: 100%;
    @include mixins.respond(tablet-potrait) {
      display: inline-block;
      width: 50%;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem; // 1em = 16px
    column-rule: 1px solid variables.$color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    hyphens: auto;

    @include mixins.respond(tablet-potrait) {
      column-count: 1;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: variables.$color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;

      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.4s;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: variables.$color-primary;
    }
  }
}
