@use "../abstracts/variables";
@use "../abstracts/mixins";

.popup {
  background-color: rgba(variables.$color-black, 0.9);

  border-top: 1px solid white;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;

  &__content {
    @include mixins.centering;
    background-color: variables.$color-white;
    box-shadow: 0 2rem 4rem rgba(variables.$color-black, 0.8);

    border-radius: 4px;
    width: 70%;
    transform: translate(-50%, -50%);
    display: table;

    overflow: hidden;
  }

  &__left {
    width: 33.333%;
    display: table-cell;
  }
  &__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem; // 1em = 16px
    column-rule: 1px solid variables.$color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    hyphens: auto;
  }
}
