@use "../abstracts/variables";
@use "../abstracts/mixins";

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(variables.$color-black, 0.1);
  background-color: rgba(variables.$color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;

  font-size: variables.$default-font-size;
  transform: skewX(-12deg);

  @include mixins.respond(tablet-potrait) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include mixins.respond(phone) {
    transform: skewX(0);
  }

  &:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;

    shape-outside: circle(50%);
    clip-path: circle(50%);
    transform: translateX(-3rem) skewX(12deg);

    position: relative;
    @include mixins.respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);

    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);

    @include mixins.respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);

    text-transform: uppercase;
    color: variables.$color-white;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;

    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1.3);
    filter: blur(1px) brightness(80%);
  }
}
