@use "../abstracts/variables";
@use "../abstracts/mixins";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;

  color: variables.$color-grey-dark;
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;

  margin-bottom: 6rem;
  backface-visibility: hidden;

  &--main {
    display: block;

    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;

  background-image: linear-gradient(
    to right,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );

  background-clip: text;
  color: transparent;

  transition: all 0.3s;

  @include mixins.respond(tablet-potrait) {
    font-size: 3rem;
  }

  @include mixins.respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: variables.$default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: variables.$default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
