@use "../abstracts/variables";
@use "../abstracts/mixins";

.section-about {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include mixins.respond(tablet-potrait) {
    padding: 22rem 0;
  }
}

.section-features {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url("/img/img-small/nat-4.jpg");

  background-size: cover;
  padding: 20rem 0;
  margin-top: -13rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba(variables.$color-primary-light, 0.8),
        rgba(variables.$color-primary-dark, 0.8)
      ),
      url("/img/nat-4.jpg");
  }

  @include mixins.respond(tablet-potrait) {
    padding: 10rem 0 15rem 0;
  }
}

.section-tours {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11.3rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include mixins.respond(tablet-potrait) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
}

.book {
  background-image:
    linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.9) 0%,
      rgba(variables.$color-white, 0.9) 50%,
      transparent 50%
    ),
    url(/img/img-small/nat-10.jpg);
  background-size: 100%;
  border-radius: variables.$default-border-radius-small;
  box-shadow: 0 1.25rem 4rem rgba(variables.$color-primary-dark, 0.2);

  @media (min-resolution: 192dpi) and (min-width: 56.25em), (min-width: 125em) {
    background-image:
      linear-gradient(
        105deg,
        rgba(variables.$color-white, 0.9) 0%,
        rgba(variables.$color-white, 0.9) 50%,
        transparent 50%
      ),
      url(/img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem 5rem;
    @include mixins.respond(tablet-landscape) {
      width: 65%;
    }

    @include mixins.respond(tablet-landscape) {
      width: 100%;
    }
  }

  @include mixins.respond(tablet-landscape) {
    background-image:
      linear-gradient(
        105deg,
        rgba(variables.$color-white, 0.9) 0%,
        rgba(variables.$color-white, 0.9) 70%,
        transparent 70%
      ),
      url(/img/nat-10.jpg);
    background-size: cover;
    box-shadow: none;
  }

  @include mixins.respond(tablet-landscape) {
    background-image:
      linear-gradient(
        to right,
        rgba(variables.$color-white, 0.9) 0%,
        rgba(variables.$color-white, 0.9) 100%
      ),
      url(/img/nat-10.jpg);
  }
}
