@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  background-color: variables.$color-grey-dark3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: variables.$color-grey-light-1;

  @include mixins.respond(tablet-potrait) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }
  &__navigation {
    border-top: 1px solid variables.$color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include mixins.respond(tablet-potrait) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: inherit;
      background-color: variables.$color-grey-dark3;

      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;

      transition: all 0.2s ease-out;
    }

    &:hover,
    &:active {
      color: variables.$color-primary;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.4);

      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    color: inherit;

    border-top: 1px solid variables.$color-grey-dark;
    padding-top: 2rem;
    width: 84%;
    float: right;

    @include mixins.respond(tablet-potrait) {
      width: 100%;
      float: none;
    }
  }
}
