@use "../abstracts/variables";
@use "../abstracts/mixins";

.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: variables.$color-white;
    height: 7rem;
    width: 7rem;

    position: fixed;
    top: 6.4rem;
    right: 6.3rem;
    border-radius: 50%;
    z-index: 2000;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      variables.$color-primary-light,
      variables.$color-primary-dark
    );

    z-index: 1000;

    transform: scale(90);
  }
  &__nav {
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
  }
  &__list {
    @include mixins.centering;

    list-style: none;
    text-align: center;
  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-weight: 300;
      font-size: 3rem;
      color: variables.$color-white;
      text-decoration: none;
      text-transform: uppercase;

      padding: 1rem 2rem;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        variables.$color-white 50%
      );
      background-size: 225%;

      transition: 0.4s;

      span {
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: variables.$color-primary;

      transform: translateX(1rem);
    }
  }
}
